In [1]:
import pandas as pd

In [2]:
car=pd.read_csv('carprice.csv')

In [3]:
car.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
car.drop('car_ID',inplace=True,axis=1)

In [5]:
car.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [6]:
#GETTING DUMMIES VALUES

In [7]:
car_name=pd.get_dummies(car['CarName'])

In [8]:
car.drop('CarName',axis=1,inplace=True)

In [9]:
car.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [10]:
fuel_type=pd.get_dummies(car['fueltype'])

In [11]:
fuel_type.head()

   diesel  gas
0       0    1
1       0    1
2       0    1
3       0    1
4       0    1

In [12]:
door_number=pd.get_dummies('doornumber')

In [13]:
door_number.head()

   doornumber
0           1

In [14]:
car_body=pd.get_dummies('carbody')
car_body.head()

   carbody
0        1

In [15]:
fuel_system=pd.get_dummies('fuelsystem')
fuel_system.head()

   fuelsystem
0           1

In [16]:
car.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [17]:
car=pd.concat([car,car_body,door_number,fuel_type],axis=1)

In [18]:
car.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,carbody,doornumber,diesel,gas
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,9.0,111,5000,21,27,13495.0,1.0,1.0,0,1
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,9.0,111,5000,21,27,16500.0,NaN,NaN,0,1
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,9.0,154,5000,19,26,16500.0,NaN,NaN,0,1
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,10.0,102,5500,24,30,13950.0,NaN,NaN,0,1
4,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,8.0,115,5500,18,22,17450.0,NaN,NaN,0,1

In [19]:
car.drop(['fueltype','aspiration','doornumber','carbody','drivewheel','enginelocation'],axis=1,inplace=True)

In [20]:
car.head()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,diesel,gas
0,3,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,0,1
1,3,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,0,1
2,1,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,0,1
3,2,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,0,1
4,2,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,0,1

In [21]:
cylinder_number=pd.get_dummies('cylindernumber')
cylinder_number.head()

   cylindernumber
0               1

In [22]:
car=pd.concat([car,cylinder_number],axis=1)

In [23]:
car.head()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,...,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,diesel,gas,cylindernumber
0,3,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,...,2.68,9.0,111,5000,21,27,13495.0,0,1,1.0
1,3,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,...,2.68,9.0,111,5000,21,27,16500.0,0,1,NaN
2,1,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,...,3.47,9.0,154,5000,19,26,16500.0,0,1,NaN
3,2,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,...,3.40,10.0,102,5500,24,30,13950.0,0,1,NaN
4,2,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,...,3.40,8.0,115,5500,18,22,17450.0,0,1,NaN

In [24]:
# car.drop(['cylindernumber'],axis=1,inplace=True) # here i all deleted the colums

In [25]:
car.head()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,...,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,diesel,gas,cylindernumber
0,3,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,...,2.68,9.0,111,5000,21,27,13495.0,0,1,1.0
1,3,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,...,2.68,9.0,111,5000,21,27,16500.0,0,1,NaN
2,1,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,...,3.47,9.0,154,5000,19,26,16500.0,0,1,NaN
3,2,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,...,3.40,10.0,102,5500,24,30,13950.0,0,1,NaN
4,2,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,...,3.40,8.0,115,5500,18,22,17450.0,0,1,NaN

In [26]:
##Droping NUll Values

In [27]:
car.dropna(axis=1)

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,diesel,gas
0,3,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,0,1
1,3,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,0,1
2,1,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,0,1
3,2,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,0,1
4,2,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,109.1,188.8,68.9,55.5,2952,ohc,four,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,0,1
201,-1,109.1,188.8,68.8,55.5,3049,ohc,four,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,0,1
202,-1,109.1,188.8,68.9,55.5,3012,ohcv,six,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,0,1
203,-1,109.1,188.8,68.9,55.5,3217,ohc,six,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,1,0
204,-1,109.1,188.8,68.9,55.5,3062,ohc,four,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,0,1

In [28]:
car.isnull().sum()

symboling             0
wheelbase             0
carlength             0
carwidth              0
carheight             0
curbweight            0
enginetype            0
cylindernumber        0
enginesize            0
fuelsystem            0
boreratio             0
stroke                0
compressionratio      0
horsepower            0
peakrpm               0
citympg               0
highwaympg            0
price                 0
diesel                0
gas                   0
cylindernumber      204
dtype: int64

## Train Test Spliting

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
train_set,test_set=train_test_split(car,test_size=0.2,random_state=42)

In [31]:
print(f"Number OF test{len(train_set)} \n and number of tests {len(test_set)}  ")

Number OF test164
 and number of tests 41

In [32]:
car=train_set.copy()

## Taking Data for train and test in test set

In [33]:
car.head()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,...,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,diesel,gas,cylindernumber
66,0,104.9,175.0,66.1,54.4,2700,ohc,four,134,idi,...,3.64,22.0,72,4200,31,39,18344.0,1,0,NaN
111,0,107.9,186.7,68.4,56.7,3075,l,four,120,mpfi,...,2.19,8.4,95,5000,19,24,15580.0,0,1,NaN
153,0,95.7,169.7,63.6,59.1,2280,ohc,four,92,2bbl,...,3.03,9.0,62,4800,31,37,6918.0,0,1,NaN
96,1,94.5,165.3,63.8,54.5,1971,ohc,four,97,2bbl,...,3.29,9.4,69,5200,31,37,7499.0,0,1,NaN
38,0,96.5,167.5,65.2,53.3,2289,ohc,four,110,1bbl,...,3.58,9.0,86,5800,27,33,9095.0,0,1,NaN

In [34]:
car.drop(['enginetype','cylindernumber'],axis=1,inplace=True)

## Coorelation

In [35]:
car['price'].sort_values(ascending=False)

74     45400.0
128    37028.0
17     36880.0
49     36000.0
48     35550.0
        ...
32      5399.0
76      5389.0
150     5348.0
50      5195.0
138     5118.0
Name: price, Length: 164, dtype: float64

In [36]:
car_features=car.drop('price',axis=1)
car_labels=car['price'].copy()

In [37]:
car.drop('fuelsystem',axis=True,inplace=True)

In [38]:
car.head()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,diesel,gas
66,0,104.9,175.0,66.1,54.4,2700,134,3.43,3.64,22.0,72,4200,31,39,18344.0,1,0
111,0,107.9,186.7,68.4,56.7,3075,120,3.46,2.19,8.4,95,5000,19,24,15580.0,0,1
153,0,95.7,169.7,63.6,59.1,2280,92,3.05,3.03,9.0,62,4800,31,37,6918.0,0,1
96,1,94.5,165.3,63.8,54.5,1971,97,3.15,3.29,9.4,69,5200,31,37,7499.0,0,1
38,0,96.5,167.5,65.2,53.3,2289,110,3.15,3.58,9.0,86,5800,27,33,9095.0,0,1

## Creating The Pipe Line

In [39]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

my_pipeline=Pipeline([
    ('std_scaler', StandardScaler())
])

## Model Selection

In [40]:
from sklearn.linear_model import LinearRegression

In [41]:
model=LinearRegression()
model.fit(car_features,car_labels)

ValueError: could not convert string to float: 'idi'

In [ ]:
some_data=car_features.iloc[:5]
some_label=car_labels.iloc[:5]

In [ ]:
prdeict_data=my_pipeline.transform(some_data)